<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="wrapper {{theme.background2}} {{theme.text}}">

    <app-sidebar></app-sidebar>

    <!-- Navbar (Header) Starts-->
    <app-header></app-header>
    <!-- Navbar (Header) Ends-->


    <div class="main-panel">
        <router-outlet></router-outlet>


    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////   -->

<app-modal-usuario></app-modal-usuario>
<app-modal-empleado></app-modal-empleado>