<div class="main-content {{theme.background2}}">
  <div class="content-wrapper">
    <section id="full-layout">

      <h1 class="ml-2 mt-3 mb-3 text-bold-600">Usuarios </h1>

      <button (click)="modalAgregarUsuario()"
        class="btn btn-raised {{theme.btnType1}} square btn-min-width float-right mr-3 mb-2"> Nuevo usuario
        <i style="margin-left: 10px;" class="fa fa-plus" aria-hidden="true"></i></button>


      <div class="row w-100">
        <div class="col-12">

          <div class="input-group mb-2 mt-2 w-100">
            <input type="text" [(ngModel)]="usuarioBuscar" (keyup)="buscarUsuario(usuarioBuscar,1)"
              class="form-control border-dark {{theme.background}} {{theme.text}}" placeholder="Buscar usuario">
            <div class="input-group-append">
              <span class="input-group-text border-dark {{theme.background}} {{theme.text}}"><i
                  class="fa fa-search"></i></span>
            </div>
          </div>

          <div *ngIf="STATE_TO_DISPLAY.all===1" class="card">
            <div class="card-content {{theme.background}}">
              <div class="card-body table-responsive">
                <table class="table text-center m-0">
                  <thead>
                    <tr class="{{theme.text}} text-left">
                      <th>#</th>
                      <th>E-mail</th>
                      <th>Rol</th>
                      <th>Estado</th>
                      <th class="text-center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container>
                      <ng-container *ngFor="let usuario of usuarios; index as i" class="">
                        <tr class="{{theme.text}} text-left">
                          <td>{{ i+offset+1 }}</td>

                          <td>{{ usuario.email }}</td>
                          <td>{{ usuario.rol }}</td>
                          <td *ngIf="usuario.estado===0"><span class="badge badge-danger mb-1 mr-2">DESHABILITADO</span>
                          </td>
                          <td *ngIf="usuario.estado===1"><span class="badge badge-success mb-1 mr-2">HABILITADO</span>
                          </td>

                          <td class="text-truncate text-center">

                            <a (click)="updatePassword(usuario)" class="success p-0">
                              <i class="ft-edit-2 font-medium-3 mr-2"></i>
                            </a>
                            <a *ngIf="usuario.u_id!==loggedUser" (click)="eliminarUsuario(usuario.u_id)"
                              class="danger p-0">
                              <i class="fa fa-trash font-medium-3"></i>
                            </a>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>

                  </tbody>
                </table>

                <nav class="text-center mb-3">
                  <ng-container *ngIf="pagination.anterior === true; then loggedIn; else loggedOut">
                  </ng-container>
                  <ng-template #loggedIn>
                    <a class="page-link d-inline-block" style="background: unset;border: unset;"
                      (click)="cambiar_Pagina(pagination.actual - 1)">
                      <i class="ft-chevrons-left display-4"></i>
                    </a>
                  </ng-template>
                  <ng-template #loggedOut>
                    <a class="page-link d-inline-block" style="background: unset;border: unset;">
                      <i class="ft-chevrons-left display-4 text-gray"></i>
                    </a>
                  </ng-template>


                  <ng-container *ngIf="pagination.siguiente === true; then loggedIn2; else loggedOut2">
                  </ng-container>
                  <ng-template #loggedIn2>
                    <a class="page-link d-inline-block" style="background: unset;border: unset;"
                      (click)="cambiar_Pagina(pagination.actual + 1)">
                      <i class="ft-chevrons-right display-4"></i>
                    </a>
                  </ng-template>
                  <ng-template #loggedOut2>
                    <a class="page-link d-inline-block" style="background: unset;border: unset;">
                      <i class="ft-chevrons-right display-4 text-gray"></i>
                    </a>
                  </ng-template>

                </nav>

              </div>
            </div>
          </div>
          <div *ngIf="STATE_TO_DISPLAY.all===0" class="content-wrapper">
            <i style="position: absolute;top: 170px;left: 50%;margin: -35px 0 0 -35px;"
              class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </div>

        </div>
      </div>
    </section>
  </div>
</div>