<div class="main-content">
  <div class="content-wrapper">
    <section id="full-layout">
        
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8 m-auto">
          <div class="card {{theme.background}} {{theme.text}}">
            
              <div class="card-body">
                <img src="assets/img/gallery/maintenance.png" alt="" height="300" width="300" class="d-block m-auto img-fluid maintenance-img mt-2">
                <h1 class="mt-4 text-center">Dashboard en desarrollo...</h1>
              </div>
              
          </div>
        </div>
      </div>
      
      
    </section>
  </div>
</div>